@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    background-color:#F0EEE9;
}

body {
  overflow:hidden;
  padding:0;
  margin: 0;
}
.pic {
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
}
.blur {
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.navcolor {
    background-color:#F3CFB5;
}

.footer {
  background-color:#000000;
}

@font-face{
  font-family: "FC Iconic";
  src: url('./FC Iconic Regular.ttf');
  weight:300;
}
@font-face{
  font-family: "FC Iconic";
  src: url('./FC Iconic Bold.ttf');
  weight:700;
}

@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.font-sarabun{
  font-family: 'Sarabun', sans-serif;
}

.font-iconic{
  font-family: "FC Iconic";
  font-weight:300;

}

.kayabX {
  top:1px;
  left:1px;
}

.pics {
  text-align: center;
  position: relative;
  height: 250px;
}
.blurs {
  height: 100%;
}
.overlays {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}